<div>
<form class="centered form-inline" action="/shortlink">
  <div class="form-group mx-sm-3">
    <input type="text" class="form-control" id="url" placeholder="paste url">
  </div>
  <button type="submit" class="btn btn-primary">Generate</button> 
</form>
<p></p>
<div class="alertcss alert alert-success" role="alert">
  <h4 class="alert-heading">URL Generated!</h4>
  <p class="mb-0"> Below is your abbraviated URL</p>
  <p class="mb-0"><a href="#" class="alert-link">{{link}}</a></p>
  <p class="mb-0"><a href="#" class="alert-link">{{long}}</a></p>
</div>
</div>